body {
  font-family: 'Bungee Outline', cursive;
  text-align: center;
  background-color:black;
  color: white;
}
h1 {
  font-size: 4em;
}
#yourScore {
  font-size: 3em;
}
#highScore {
  font-size: 2.75em;
}

img[alt=screenshot] {
  height: 300px;
  width: 100px;
}
a {
  font-size: 1.5em;
  margin: 10px;
  color: #4cafab;
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}