body {
  font-family: 'Bungee Outline', cursive;
  text-align: center;
  background-color:black;
  color: white;
  margin: 0 auto;
  height: 100%;
}
h1 {
  font-size: 4em;
  margin: 5px;
}
#yourScore {
  font-size: 2.7em;
  margin: 15px;
}
#highScore {
  font-size: 2.75em;
  margin: 15px;
}

img[alt=screenshot] {
  height: 300px;
  width: 100px;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #4cafab;
  padding: 5px;
}
a {
  font-size: 1em;
  margin: 10px;
  color: white;
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button-area {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.buttons {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
}
#buttonUp {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 1.5em;
}

#buttonLeft {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 1.5em;
}

#buttonRight {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 1.5em;
}

#buttonDown {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: -2;
  grid-row-end: -1;
  font-size: 1.5em;
}

#icon {
  margin-right: 10px;
}

@media only screen and (max-height: 900px){
  h1 {
    font-size: 3.5em;
    margin: 15px;
  }
  #yourScore {
    margin: 15px;
    font-size: 3em;
  }
  #highScore {
    margin-top: 35px;
    font-size: 3em;
  }
  a {
    font-size: 1.5em;
  }
  .button-area, .buttons {
    margin-top: 15px;
    font-size: 1.15em;
  }
} 
@media only screen and (max-height: 740px){
  h1 {
    font-size: 2.5em;
    margin: 2px;
  }
  #yourScore {
    margin: 2px;
    font-size: 2.2em;
  }
  #highScore {
    margin-top: 30px;
    font-size: 2.3em;
  }
  a {
    font-size: .9em;
  }
  .buttons, .button-area {
    margin-top: 10px;
  }
} 
@media only screen and (max-height: 630px){
  h1 {
    font-size: 2em;
    margin: 2px;
  }
  #yourScore {
    margin: 2px;
    font-size: 1.5em;
  }
  #highScore {
    margin: 10px;
    font-size: 1.5em;
  }
  a {
    font-size: .7em;
  }
  icon {
    height: 10px;
    width: 10px;
  }
  .button-area {
    height: 20%;
  }
  .buttons, .button-area {
    margin: 0px;
    font-size: .9em;
  }
} 